#inputSearch {
    margin-bottom : 5%
}
#cardmedia {
    height : 400px;
    width: 400px
}
#containerForCards {
    display: grid;
    grid-template-columns: auto auto;
}
#caption {
    color: blue;
}
